header {
    background-color: #222222;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.logo:hover {
    text-decoration: none;
}

.logo h2 {
    color: #fff;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}

.info-1 {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.info-1 h4 {
    font-size: 15px;
    color: #d5d1d1;
}

.info-1 p {
    margin-top: 3px;
    font-size: 14px;
    color: #ccc6c6;
}

.info-1 a {
    color: #d5d1d1;
    text-decoration: none;
    margin-top: 2px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 20px;
}

.redes-sociais .social {
    border: 2px solid rgb(242, 65, 65);
    padding: 10px;
    border-radius: 100%;
    text-decoration: none;
    margin-top: 20px;
}

.social:hover {
    transition: .1s;
    background-color: rgb(242, 65, 65);
}

.social i {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.categorias {
    display: flex;
    margin: 10px auto;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    background-color: rgb(242, 65, 65);
    list-style: none;
}

/* Campo de pesquisa */
.search-form {
    position: relative;
    margin-left: 20rem;
    text-decoration: none;
    color: #f9f5f5;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-form input {
    border: none;
    padding: 10px;
    width: 200px;
    color: #fff;
    background-color: #fff;
    border-radius: 10px;
}

.search-icon {
    font-size: 18px;
    cursor: pointer;
}

.categorias li {
    display: flex;
    justify-content: center;
}

.categorias li>a {
    text-decoration: none;
    color: #f9f5f5;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.categorias li>a:hover {
    transition: .3s;
    border-bottom: 1px solid #f9f5f5;
}

/* Menu mobile */
.mobile {
    display: none;
}

.navbar {
    background-color: #222222;
    /* Cor de fundo do menu */
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #222222 !important;
    /* Cor do texto do menu */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #222222 !important;
    /* Cor do texto do menu ao passar o mouse */
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {

    color: #222222;
    background-color: #222222;
}

.navbar-collapse {
    transition: height 0.3s ease;
}

.navbar-collapse.show {
    height: auto;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #222222 !important;
    /* Cor do texto do menu ao passar o mouse */
}

@media screen and (max-width:769px) {
    .logo h2  {
        margin-top: 10px;
    }

    .nav {
        display: flex;
        gap: 0rem;
        flex-direction: column;
    }

    .info {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-top: 20px;
        text-align: center;
    }
    
    .redes-sociais .social {
        border: 2px solid rgb(242, 65, 65);
        padding: 10px;
        border-radius: 50%;
        text-decoration: none;
        margin-top: 20px;
        display: flex;
    }

    .social i {
        color: #fff;
        font-weight: 600;
        font-size: 1.2rem;
    }

    .mobile {
        display: block;
    }

    .menu {
        display: none;
    }
}